<div class="row" id="opponent">
  <div class="col-md-12 text-center">
    <div id="loadingOpp">
      <span class="overlord-loading-spinner fa fa-spinner"></span>
      <span>Loading opponents</span>
    </div>
    <div class="row opponents">
    </div>
  </div>
</div>
