<div class="row" id="character">
  <div class="col-md-12 text-center">
    <div ng-show="character.loading">
      <span class="overlord-loading-spinner fa fa-spinner"></span>
      <span>Loading character</span>
    </div>
    <div ng-show="!character.loading" class="row characters">
      <div class="col-md-6 col-xs-6 text-left" id="player1">
      </div>
      <div class="col-md-6 col-xs-6 text-left" id="player2">
      </div>
    </div>
  </div>
</div>
