<div class="row">
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="col-md-6 col-xs-6">
          <a href="#" class="btn btn-primary btn-lg" onclick="setType('Casual')">Casual</a>
        </div>
        <div class="col-md-6 col-xs-6">
          <a href="#" class="btn btn-primary btn-lg" onclick="setType('Tournament')">Tournament</a>
        </div>
      </div>
    </div>
  </div>
</div>
