<div class="container">
  <div class="jumbotron">
    <h1>
      <img src="<%=me.gravatarUrl%>">
      Welcome back,<br />
      <%= me.name%> !
    </h1>
    <p class="lead">Here's your main entry point for all fightDB's features</p>
  </div>
  <div class="row">
    <!-- MATCH MODE -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-flash"></span>
          <a href="#">MatchMode</a>
        </div>
        <div class="panel-body">
        The match mode allows you to enter your match's results. Choose the type of game, the opponent, and start entering scores !
        </div>
      </div>
    </div>
    <!-- STATISTICS -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-stats"></span>
          <a href="#">Statistics</a>
        </div>
        <div class="panel-body">
        Here are all your statistics: win/loose rate based on a character (or a player), # of win/defeat, ranking in your area, ...
        </div>
      </div>
    </div>
    <!-- MY PROFILE -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-user"></span>
          <a href="#">My Profile</a>
        </div>
        <div class="panel-body">
        User profile: set your favorite characters, your location and other basic information.
        </div>
      </div>
    </div>
    <!-- FIGHTER LOCATOR -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-globe"></span>
          <a href="#">Fighter Locator</a>
        </div>
        <div class="panel-body">
        Soon ...
        </div>
      </div>
    </div>
  </div>
</div>