<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<div class="jumbotron">
			<h1>Fight DB</h1>
			<h2>Find. Play. Keep scores.</h2>
			<a href="/signup" class="btn btn-lg btn-success">Sign up now!</a>
			<a href="/login" class="btn btn-lg btn-success">Log in</a>
		</div>
	</div>
</div>