<div class="container">
  <div class="col-md-12">
    <!-- SELECT GAME (1/4) -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>
          <span class="label label-primary">1</span>&nbsp;Select game</h3>
      </div>
    <div class="panel-body">
      {{> selectgame me.id}}
    </div>
    <!-- SELECT OPPONENT (2/4) -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>
          <span class="label label-primary">2</span>&nbsp;Select opponent</h3>
      </div>
    <div class="panel-body">
      {{> selectopponent me.id}}
    </div>
    <!-- SELECT CHAR (3/4) -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>
          <span class="label label-primary">3</span>&nbsp;Select character</h3>
      </div>
    <div class="panel-body">
      {{> selectchar me.id}}
    </div>
    <!-- SELECT TYPE (4/4) -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>
          <span class="label label-primary">4</span>&nbsp;Select type</h3>
      </div>
    <div class="panel-body">
      {{> selecttype me.id}}
    </div>
    <!-- SELECT OPPONENT (2/4) -->
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3>Fight!</h3>
      </div>
    <div class="panel-body">
      {{> matchstarted}}
    </div>
  </div>
</div>
